<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <script language="javascript">
    function changeImage() {
        console.log(document.getElementById("imgClickAndChange").src.split("/")[3,4])
        if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image2 }}";
            document.getElementById('message').innerHTML="למריה היקרה,המון מזל טוב אהבה שלי!";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image2 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image3 }}";
            document.getElementById('message').innerHTML="אני רוצה לאחל לך את הכי טוב בעולם  ומקווה שתצליחי בכל מטרה שתציבי לעצמך, ושתדעי שאני מאמין בך וביכולות שלך ושאת יכולה להיות העורכת דין הכי טובה בארץ!!";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image3 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image4 }}";
            document.getElementById('message').innerHTML="אני גם רוצה לאחל לך המון בריאות כי אני רוצה שהנסיכה שלי תהיה בריאה וחזקה";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image4 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image5 }}";
             document.getElementById('message').innerHTML="והכי חשוב זה שאני מאחל לך שתישארי כמו שאת, בחורה מצחיקה חייכנית ומתוקה";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image5 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image7 }}";
             document.getElementById('message').innerHTML="כבר עברה חצי שנה מאז שהכרנו וכל יום שעובר אני מתאהב בך יותר ויותר. ואני כל יום חושב על כמה מזל יש לי כי אני יכול לקרוא לך חברה שלי";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image7 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image8 }}";
             document.getElementById('message').innerHTML="תודה לאלוהים שהפגיש בינינו כי לא רק פגשתי את אהבת חיי אלא גם פגשתי חברה לחיים בה אני יכול לסמוך עליך ואת יכולה לסמוך עליי כי אני תמיד אשמור ואתמוך בך אהבה שלי! באש ובמים!";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image8 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image9 }}";
             document.getElementById('message').innerHTML="אנחנו בכל זאת רק בתחילת הדרך שלנו ואני לא יודע מה אלוהים מתכנן לנו בעתיד אבל אני יודע שביחד אנחנו יכולים למצוא פתרון לכל דבר ולהיות חזקים כי דבר אחד אני כן יודע וזה שאני ואת נועדנו זה לזו.";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image9 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image10 }}";
             document.getElementById('message').innerHTML="אני אוהב אותך מאוד מאוד מריה 3> ואת אהבה יחידה שלי! ";
        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image10 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image11 }}";
             document.getElementById('message').innerHTML="לחיים לעתיד שלנו ביחד! 3>";
        }
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image11 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image12 }}";-->

<!--        }-->
        else
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image }}";
            document.getElementById('message').innerHTML=" ";
        }
    }
</script>
    <title>Index</title>
</head>
<body>
<div class="container-fluid">
    <img onclick="changeImage()" id="imgClickAndChange"
         style ="height: 100%; width: 100%;margin-left:auto;margin-right:auto " src="{{ user_image }}">
    <h1 oneclick="changeImage()" id="message"
         color: darkgreen;
         margin-top: 20px;
         font-family: Comic Sans MS, cursive, sans-serif;
         ></h1>
</div>
</body>
</html>