<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <script language="javascript">
    function changeImage() {
        console.log(document.getElementById("imgClickAndChange").src.split("/")[3,4])
        document.getElementById('message').innerHTML="לאהבת";
        if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image }}")
        {
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image2 }}";-->
<!--            document.getElementById('message').innerHTML="לאהבת חיי";-->
        }
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image2 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image3 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image3 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image4 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image4 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image5 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image5 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image7 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image7 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image8 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image8 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image9 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image9 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image10 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image10 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image11 }}";-->

<!--        }-->
<!--        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image11 }}")-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image12 }}";-->

<!--        }-->
<!--        else-->
<!--        {-->
<!--            document.getElementById("imgClickAndChange").src = "{{ user_image }}";-->

<!--        }-->
    }
</script>
    <title>Index</title>
</head>
<body>
<div class="container-fluid">
    <img onclick="changeImage()" id="imgClickAndChange"
         style ="height: 100%; width: 100%;margin-left:auto;margin-right:auto " src="{{ user_image }}">
    <h1 oneclick="changeImage()" id="message"
         color: darkgreen;
         margin-top: 20px;
         font-family: Comic Sans MS, cursive, sans-serif;
         ></h1>
</div>

</body>
</html>