<!DOCTYPE html>
<html>
<head>
    <script language="javascript">
    function changeImage() {
        console.log(document.getElementById("imgClickAndChange").src.split("/")[3,4])
        if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image2 }}";

        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image2 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image3 }}";

        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image3 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image4 }}";

        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image4 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image5 }}";

        }
        else if ("static/" + document.getElementById("imgClickAndChange").src.split("/")[3,4] == "{{ user_image5 }}")
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image6 }}";

        }
        else
        {
            document.getElementById("imgClickAndChange").src = "{{ user_image }}";

        }
    }
</script>
    <title>Index</title>
</head>
<body>
<div class="container-fluid">
    <img onclick="changeImage()" id="imgClickAndChange"
         style ="height: 100%; width: 100%;margin-left:auto;margin-right:auto " src="{{ user_image }}">
</div>
</body>
</html>